* {
    box-sizing: border-box
}

body {
    background-image: url(../images/picture.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: #ffffff;

}

a
{
    color: #ffffff;
}

a:hover {

}
